.QuoteContainer{
    align-self: center;
    margin: 38px;
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    box-shadow: 1px 1px 10px;
    overflow: hidden;

}
.leftQ{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 2rem;
    flex: 1;
}
.leftQ>:nth-child(1){
    color: rgb(48, 47, 47);
    font-weight: 200;
    font-size: 2rem;
}
.leftQ>:nth-child(1)::after{
    content: '';
    height: 3px;
    width: 10rem;
    display: block;
    background-color: #97CD2D;
    justify-self: center;
    position: relative;
    left: 3rem;
    transition: 0.5s ease;
    opacity: 1;
}




.leftQ>:nth-child(3){
    text-transform: none;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: justify;
    color: rgb(48, 47, 47);
}

.rightQ{
    flex: 1;
    position: relative;
    border-radius: 1rem;
    
    
}
.rightQ .imagefull{
    position: relative;
    margin-left: 4rem;
}

.rightQ .imagefull>:nth-child(1){
    position: absolute;
    height: 16rem;
    width: 14rem;
    top: 1.5rem;
    right: 7.5rem;
    border: 1px solid rgb(172, 105, 157);
}

.rightQ .imagefull>:nth-child(2){
    position: absolute;
    height: 16rem;
    width: 14rem;
    top: 2.5rem;
    right: 8.5rem;
    border: 1px solid rgb(172, 105, 157);
}
.rightQ .imagefull>img{
    position: absolute;
    height: 16rem;
    width: 14rem;
    right: 8rem;
    top: 2rem;
    
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    color: white;
    box-shadow: 1px 1px 3px;
    border-radius: 2rem;
    background-color: rgb(50, 50, 50);
}

.arrow>.leftArrow{
    cursor: pointer;
}
.arrow>.rightArrow{
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .leftQ{
        gap: 1rem;
    }
    .QuoteContainer{
        flex-direction: column;
        height: 100vh;
        gap: 0;
    }
    .rightQ{
        display: flex;        
        flex-direction: column;
        position: relative;
        gap: 1rem;
    }
    .rightQ .imagefull{
        position: relative;
        right: -6.5rem;
    }
    .rightQ .arrow{
        position: relative;
        top: 19rem;
        left: 8rem;
        width: 100px;
    }
}