.WorkforceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    flex-direction: column;
    overflow: hidden;
}
.WorkforceContainer .intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2rem;
}
.WorkforceContainer .intro>:nth-child(1){
    color: purple;
    padding-left: 20px;
    padding-right: 20px;
}
.WorkforceContainer .intro>:nth-child(2){
    padding-left: 50px;
    padding-right: 20px;
    letter-spacing: 2px;
    border-right: 4px solid purple;
}
.WorkforceContainer .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 20px;
    border-left: 4px solid purple;
}

.WorkforceContainer .row .Wfull {
    height: 22rem;
    width: 15rem;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 6px 6px 30px;
    position: relative;
    overflow: hidden;
}

.WorkforceContainer .row .Wfull .unitImage {
    position: inherit;
    height: 15rem;
    width: 20rem;
    border-bottom: 5px solid purple;
}

#training {
    background: url(./training2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320px;
}

#admin {
    background: url(./admin.webp);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 400px;
}

#outreach {
    background: url(./outreach.webp);
    background-position: 75% 50%;
    background-repeat: no-repeat;
    background-size: 500px;
}

#worship {
    background: url(./vector2.webp);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 500px;
}

#membership {
    background: url(./membership.webp);
    background-position: 70% 50%;
    background-repeat: no-repeat;
    background-size: 500px;
}
#missions {
    background: url(./missions.webp);
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: 500px;
}

.WorkforceContainer .row .Wfull .unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 5px;
}

.unit>:nth-child(1) {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-size: 1.5rem;
}

.unit>:nth-child(2) {
    height: 36px;
    width: 90px;
    border: 1px solid purple;
    color: purple;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;

}

.unit>:nth-child(2):hover {
    background-color: purple;
    border: 1px solid purple;
    color: white;
}

@media screen and (max-width: 768px) {
    .WorkforceContainer .row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding: 20px;
        flex-direction: column;
    }
    .WorkforceContainer .row .Wfull{
        height: 20rem;
        width: 20rem;
    }
}