.welcomecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    gap: 1rem;

}
.welcometitle{
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.wbody{
    position: relative;
}
.wbody>:nth-child(1){
    position: absolute;
    left: 4rem;
    top: 1rem;
}
.wbody .welcomebody{
    padding-top: 3rem;
    margin-left: 6rem;
    margin-right: 6rem; 
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wbody>:nth-child(3){
    position: absolute;
    right: 4rem;
    bottom: 0rem;
}

.welcomecontainer .welcomesocial{
    display: flex;
    gap: 1rem;
    position: relative;
}