.mail{
    
    margin-top: 0px;
    background: linear-gradient(to right, rgb(141, 105, 148),rgb(107, 57, 122),rgb(110, 9, 131));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }
  .mailInputContainer{
    display: flex;
  }
  
  .mailInputContainer>input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  
  .mailInputContainer>button{
    height: 50px;
    background-color: #192c3a;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
  }

  .mailInputContainer>button:hover{
    background-color: white;
    color:#192c3a ;
  }
