.headerContainer{
    background: url("./img.JPG");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    color: white;
    padding: 20px 20px;
    box-sizing: border-box;
    animation-name: bgImage;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 4s;
    overflow: hidden;
    
}

.headerContainer .inTextContainer{
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headerContainer .inTextContainer>span{
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 5px;
}



.headerContainer>a>button{
    height: 3rem;
    width: 7rem;
    font-size: 15px;
    background-color: purple;
    border: 1px solid purple;
    color: white; 
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
.headerContainer>a>button:hover{
    background-color: white;
    border: 1px solid purple;
    color: purple;    
}




@keyframes bgImage {
  0%   {background: url("./img.JPG"); background-size: cover; background-blend-mode: darken; background-position: center;}
  25%  {background-image:  url('./plain.webp'), url("./league.jpg"); background-blend-mode: lighten; background-size: cover, cover; background-position: center;}
  50%  {background: url('./plain.webp'), url("./women.CR2.jpg"); background-blend-mode: lighten; background-position: 42% 50%; background-size: cover;}
  100% {background: url('./plain.webp'), url("./style.CR2.jpg"); background-blend-mode: lighten; background-position: center; background-size: cover;}
}

@media (max-width: 990px) {
    .headerContainer{
        background-size: cover;
        background-position: center;
        justify-content: center;

    }
    .switch{
        font-size:  smaller;
        position: absolute;
        width: 12rem;
        left: 40px;
        bottom: 120px;
        
        
    }

    .switch .blank{
        width: 7rem;
    
    }

    .headerContainer .inTextContainer{
        font-size: 30px;
        
    }
}