.closeNavLinks{
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.closeNavContainer{
  animation: slideIn .3s ease-in-out ;
  

}
@keyframes slideIn{
    0%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}



a {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 10.5px;
    
  }

  

nav a:hover{
  border-bottom: 3px solid white;
  border-right: 1px solid white;
  color: rgb(116, 81, 122);
}

.social.twi{
  height: 2px;
  width: 2px;
}

.social.ins{
  height: 2px;
  width: 2px;
}
.social :hover{
  border: none;
}




