.footer{
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgb(110, 9, 131);
}

.fLists{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  margin-bottom: 50px;
  
}

.fList{
  list-style: none;
  padding: 0;
  
}
.fList1{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.fListItem:hover{
  border-bottom: 2px solid #192c3a;
}
.fsocial{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.fsocial .facebook{
  color: blue;
  background-color: white;
  border-radius: 50%;
}
.fsocial .instagram{
  color: rgb(255, 0, 179);
  background-color: white;
  border-radius: 50%;
}

.fsocial .twitter{
  color: #1DA1F2;
  background-color: white;
  border-radius: 50%;
}

.fsocial .youtube{
  color: red;
  background-color: white;
  border-radius: 50%;
}

.fText{
  padding-top: 30px;
  border-top: 1px solid white;
}
#qlink2{
  padding-top: 2rem;
}

@media screen and (max-width: 990px) {
  .fLists{
    
    flex-direction: column;
    gap: 2rem
    
  }
}