.DescribeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 30px;
    overflow-x: hidden;
}
.newfull1{
    
    padding-top: 7px;
    padding-left: 7px;
    border-radius: 4px;
}
.newfull2{
    
    padding-top: 7px;
    padding-left: 7px;
    border-radius: 4px;
}
.newfull3{
    
    padding-top: 7px;
    padding-left: 7px;
    border-radius: 4px;
}
.first{
    background-image: linear-gradient(rgba(40, 40, 40, 0.8),rgba(40, 40, 40, 0.8)),url(https://images.unsplash.com/photo-1525026198548-4baa812f1183?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=734&q=80);
    
    transition: .5s ease;
}
.first:hover{
    background-size: 130vh;
}

.second{
    background-image: linear-gradient(rgba(40, 40, 40, 0.8),rgba(40, 40, 40, 0.8)),url(https://images.unsplash.com/photo-1579975096649-e773152b04cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    transition: .5s ease;
}
.second:hover{
    background-size: 150vh;
}

.third{
    background-image: linear-gradient(rgba(40, 40, 40, 0.8),rgba(40, 40, 40, 0.8)),url(https://images.unsplash.com/photo-1602771706769-04b738b784d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmVhZCUyMHdvcmQlMjBvZiUyMGdvZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60); 
    background-size: cover;
    transition: .5s ease;
}

.third:hover{
    background-size: 90vh;
}
.first img{
    color: white;
    height: 10px;
    width: 10px;
}


.descDetails{
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.btn{
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.7s;
    background-color: #2BA891;
    color: white;
    border: 1px solid #2BA891;
    
}

.btn:hover{
    background-color: #192c3a;
    color: white;
    border: 1px solid #192c3a;
}

#ease{
    background-position: center;
    height: 23rem;
    width: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    gap: 2rem;
    position: relative;
    
    
}






@media screen and (min-width: 550px) and (max-width: 980px) {
      
    #ease{
        height: 14rem;
        width: 10rem;
        
    } 
    .descDetails{
        color: white;
        font-weight: bold;
        font-size: 1rem;
    }
}

@media screen and (max-width: 549px) {
    .DescribeContainer{
        flex-direction: column;
    }   
    #ease{
        height: 16rem;
        width: 20rem;
        
    } 
}